<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List</title>
</head>
<body>
    <h1>Task List</h1>
    <table border="1" style="width: 50%; margin: auto; border-collapse: collapse;">
        <tr style="text-align: center;">
            <th>No.</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        {%for task in tasks%}
        <tr style="text-align: center;">
            <td>{{loop.index}}</td>
            <td>{{task.title}}</td>
            <td>{{task.description}}</td>
            <td>
                <button><a href="/tasks/update/{{task.id}}">Edit</a></button>
                <form style="display: inline;" method="post" action="/tasks/delete/{{task.id}}">
                    <input type="hidden" name="id" value="{{task.id}}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>